div#template {
  display: none;
}

div.progress-container {
  border: 1px solid #ccc;
  width: 400px;
  margin: 2px 5px 2px 0;
  padding: 1px;
  clear: both;
  position: relative;
}
/*
  background: white;
 */

div.progress-bar {
  height: 20px;
  width: 0%;
}
/*
  background-color: #ACE97C;
 */

span.progress-text {
  width: 400px;
  text-align: center;
  float: left;
  font: normal 12px Arial,sans-serif;
  margin-top: 3px;
  color: #666;
}

span.progress-text span {
  color: #666;
}
